// Adaptive
@media (min-width:1200px) and (max-width:1440px) {
  .owl-dots {
    bottom: 20px;
  }
  .slider__item .slider-detail {
    top: 120px;
  }
}
@media (min-width:992px) and (max-width:1199px) {
  .header {
    display: none;
  }

  .inner-post .post-item .post-thumb img {
    width: 100%;
  }

  .follow-form form {
    width: 50%;
  }

  .owl-carousel .owl-item img {
    width: auto;
  }
}
@media (min-width:768px) and (max-width:991px) {

  .header {
    display: none;
  }


  .slider__item .slider-detail {
    top: 160px;
  }

  .slider__item_title {
    font-size: 50px;
  }

  .inner-post .post-item {
    text-align: center;
    margin-bottom: 30px;
    .post-thumb {
      display: inline-block;
    }
    .post-detail {
      text-align: left;
      padding: 0 90px;
    }
  }

  .follow-form form {
    width: 60%;
  }

  .footer .copyright {
    text-align: left;
  }

  .owl-carousel .owl-item img {
    width: auto;
  }

  .owl-nav {
    display: none;
  }

} 
@media (max-width:767px) {

  .header,section {
    display: none;
  }
  .follow, .post, .inner-post, .slider {
    display: block;
  }

  .slider__item_title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 15px;
  }

  .slider__item_sub-title {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .slider__item .slider-detail {
    top: 25px;
  }

  .inner-post .post-item {
    margin-bottom: 20px;
    .post-thumb img {
      width: 100%;
    }
    .post-title {
      font-size: 16px;
    }
    .post-content, .post-comment {
      font-size: 12px;
    }
  }

  .post .post-title {
    text-align: left;
    font-size: 24px;
    line-height: 24px;
  }

  .follow__title {
    font-size: 24px;
  }

  .follow__sub-title {
    font-size: 13px;
  }

  .follow-form form {
    width: 95%;
  }

  .follow-form form .follow-btn {
    font-size: 14px;
  }

  .footer {
    .social {
      text-align: center;
    }

    .copyright {
      text-align: center;
      span {
        display: block;
      }
    }

    .mobile-revert {
      display: table;
      margin: auto
    }

    .mobile-bottom {
      width: 100%;
      display: table-footer-group;
    }

    .mobile-top {
      width: 100%;
      display: table-header-group;
      margin-bottom: 10px;
    }
  }



  .owl-carousel .owl-item img {
    width: auto;
    max-height: 300px;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    bottom: 30px;
  }
}
